/* gruvbox */
/* "#1d2021", "#cc241d", "#98971a", "#d79921", "#458588", "#b16286", "#689d6a", "#a89984", */
/* "#928374", "#fb4934", "#b8bb26", "#fabd2f", "#83a598", "#d3869b", "#8ec07c", "#ebdbb2", */

@font-face {
    font-family: 'Linux Biolinium';
    src: url('/fonts/linbiolinum_r-webfont.woff2') format('woff2'),
         url('/fonts/linbiolinum_r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html
{
	background: #000000;
	color: #ebdbb2;
	font-family: 'Linux Biolinium', sans-serif;
}

div.container
{
	max-width: 900px;
	width: calc(100% - 24px);
	margin: auto;
	padding: 12px;
}

h1
{
	text-align: center;
}

a
{
	color: #a89984;
	font-weight: bold;
}

.black		{ background: #1d2021; }
.red		{ background: #cc241d; }
.green		{ background: #98971a; }
.yellow		{ background: #d79921; }
.blue		{ background: #458588; }
.magenta	{ background: #b16286; }
.cyan		{ background: #689d6a; }
.grey		{ background: #a89984; }
.lblack		{ background: #928374; }
.lred		{ background: #fb4934; }
.lgreen		{ background: #b8bb26; }
.lyellow	{ background: #fabd2f; }
.lblue		{ background: #83a598; }
.lmagenta	{ background: #d3869b; }
.lcyan		{ background: #8ec07c; }
.lgrey		{ background: #ebdbb2; }

.t_black	{ color: #1d2021; }
.t_red		{ color: #cc241d; }
.t_green	{ color: #98971a; }
.t_yellow	{ color: #d79921; }
.t_blue		{ color: #458588; }
.t_magenta	{ color: #b16286; }
.t_cyan		{ color: #689d6a; }
.t_grey		{ color: #a89984; }
.t_lblack	{ color: #928374; }
.t_lred		{ color: #fb4934; }
.t_lgreen	{ color: #b8bb26; }
.t_lyellow	{ color: #fabd2f; }
.t_lblue	{ color: #83a598; }
.t_lmagenta	{ color: #d3869b; }
.t_lcyan	{ color: #8ec07c; }
.t_lgrey	{ color: #ebdbb2; }

.t_center	{ text-align: center; }
